<!DOCTYPE html>
<html lang="en">
	
{% include 'header.html' %}

    <div class="row-fluid marketing">    	
        <div class="span12">
      	
          <h4>About</h4>
          wools++ is a community-driven and fan-made project.  The part that does stuff is written in 
          <a href="http://www.python.org/">python</a>, 
          and it uses <a href="http://jinja.pocoo.org/">jinja2</a> with 
          <a href="http://twitter.github.io/bootstrap/">bootstrap</a> html/css/javascript templates for displaying.  
          wools++ uses <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a> to collect data 
          from users' profiles at <a href="http://www.oc.tc">OC</a> and 
          <a href="http://matplotlib.org/">matplotlib</a> to produce the graphs. The project is hosted
          on <a href="https://developers.google.com/appengine/">Google's App Engine</a>.  All of the source code
          can be found <a href="https://github.com/bcbwilla/WoolsPlusPlus">here</a>.
          <p>The project is currently in the experimental stage, so you may encounter some issues or bugs.
          	  Sorry about that!</p> 
          <br>
          <div align="right">-<a href="http://www.oc.tc/bcbwilla">Ben</a></div>
  
          <hr>
        	
          	<h4>FAQ</h4>
          	<dl>
          		<dt>My stats aren't updating!</dt>
          		<dd>wools++ only collects data a couple times per day (once every six hours, to be exact).  This is to limit 
          			requests made to OC's website, as well as to limit the work that the app has to do.  The frequency 
          			at which data is collected may change in the future.  Remember, wools++is more about "long term" stats than 
          			up-to-the-second ones.  </dd>
          	</dl>
          	<dl>
          		<dt>My stats aren't accurate / I found an arbitrary problem!</dt>
          		<dd>Please report all problems in the official wools++ <a href="http://www.oc.tc/">thread</a>
          			 on OC's forum.</dd>
          	</dl>
          	<dl>
          		<dt>What's a rolling stat?</dt>
          		<dd>A rolling stat is a stat that is computed with only a given amount of recent data.  For example, a 2 day
          			rolling KD would be computed as (kills earned in the last 2 days) / (deaths earned in the last 2 days).  As of
          			now, wools++ computes rolling stats based on the last 7 days of playing time.  This time period is 
          			totally arbitrary, but it seems to be okay.  One of the advantages of a rolling stat is that it gives a player
          			feedback much <a href="http://www.electronexchange.net/2013/03/video-game-math-kd-ratio-lag/">more quickly</a> 
          			than a standard statistic that includes <em>everything</em>, such as (all kills)/(all deaths).
          			More info <a href="http://en.wikipedia.org/wiki/Moving_average">here</a>. </dd>
          	</dl>
          	 <dl>
          		<dt>Why don't I have any rolling stats graphs / why don't they show up in my data table?</dt>
          		<dd>If you haven't been in the database for the longer than one rolling stat interval (7 days), you won't see
          			any rolling stats because they need at least one full interval to compute them. </dd>
          	</dl>
          	<dl>
          		<dt>What's a "RWD"?</dt>
          		<dd>Common abbreviations used:
          			<ul>
          				<li>K=Kills</li>
          				<li>D=Deaths</li>
          				<li>C=Cores</li>
          				<li>W=Wools</li>
          				<li>M=Monuments</li>
          				<li>O=Objectives</li>
          				<li>S=Scoreboxes (just kidding!)</li>
          				<li>R=Rolling</li>
          			</ul>
          			Most stats are computed as something/deaths.  So, KD would be kills/deaths.  "RWD" means "rolling wools deaths"
          			or (wools gotten in the past 7 days)/(deaths in the past 7 days)
          			</dd>
          	</dl>
          	 <dl>
          		<dt>How do I put a graph on my profile on OC?</dt>
          		<dd>Copy the link in the box under the graph labeled "HTML" and paste it into the "About Me" section of your
          			profile.  If you do, it would be very much appreciated if you provided a link to this site or the corresponding
          			forum post.  :)</dd>
          	</dl>
          <hr>
        </div>
      </div>

	{% include 'footer.html' %}

  </body>
</html>
