<!DOCTYPE html>
<html lang="en">
	
{% include 'header.html' %}


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10 offset1">
          <p class="lead">Who's using <strong>wools++</strong>?</p>
          Sorted by {{ sort }}.
          <table class="table table-centered table-hover table-bordered">
		    <thead>
              <th></th>
		      <th> Player </th>
		      <th> <a href="/allusers?page={{ page }}&sort=kills">Kills</a> </th>
              <th> <a href="/allusers?page={{ page }}&sort=deaths">Deaths</a> </th>
		      <th> <a href="/allusers?page={{ page }}&sort=kd">KD</a> </th>
              <th> <a href="/allusers?page={{ page }}&sort=wools">Wools</a> </th>
		      <th> <a href="/allusers?page={{ page }}&sort=cores">Cores</a> </th>
              <th> <a href="/allusers?page={{ page }}&sort=monuments">Monuments</a> </th>
		    </thead>
		    {% for p in player_list %}
	          <tr>	
                 <td> {{ loop.index0 + p_per_page*(page-1) }}
                 <td><a href="/users/{{ p.name }}"> {{ p.name }} </a></td>
                 <td>{{ p.kills }}</td>
                 <td>{{ p.deaths }}</td>
                 <td>{{ p.kd | round(3) }}</td>
                 <td>{{ p.wools }}</td>
                 <td>{{ p.cores }}</td>
                 <td>{{ p.monuments }}</td>
	          </tr>
	        {% endfor %}
          </table>
          {% include 'pagination.html' %}
    </div><!--/span-->
  </div><!--/row-->


	{% include 'footer.html' %}

  </body>
</html>
