<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

      <div class="jumbotron">
        <p class="lead"><strong>wools++</strong> provides players of the Overcast Network (OC) with additional 
        	gameplay statistics including objectives/deaths, rolling values and time series plots.</p>

      </div>
     
      <hr>

      <div class="row-fluid marketing">
      	
        <div class="span4 table-centered">      	
        {% if user %}
          <h4>Check your stats:</h4>
          <br>
          <a href="{{ user_profile_url }}"><input class="btn btn-success" type="submit" value="Profile"></a>
      	  <br> 
        {% else %}
          <h4>Join the fun:</h4>
          <br>
          <a href="/login"><input class="btn btn-success" type="submit" value="Register Now!"></a>
      	  <br>   	      	  
      	{% endif %}
        </div>
      	   	
        <div class="span8">
          <h4>Start collecting data today!</h4>
          <p>Add yourself to the database to start collecting data!  A few times each day, <strong>wools++</strong>
          	pulls data from your profile at <a href="https://www.oc.tc">OC</a> and adds it to the database 
          	here.  It then calculates some statistics and makes some plots.  Feel free to link directly to the plot 
          	on your OC profile page!
          </p>
        </div> 
      	
      </div>

	{% include 'footer.html' %}

  </body>
</html>
