<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

      <div class="jumbotron">
      	
		{% if stat_length < 1 %}
 		<div class="alert alert-info">Looks like {{ player.name }} just joined!  There's no data for you to see yet.  Just wait a few hours for 
 			wools++ to work its magic, and then you'll see some cool stuff here.  Check back later!
 		</div>
 		{% else %}		
        <p class="lead"> {{ player.name }}: Status Report</p>
        
        {% for img in graph_urls %}
          <img src="{{ img }}"> <br>
			Direct Link: <span class="input-xlarge uneditable-input"> http://www.woolsplusplus.appspot.com{{ img }} </span><br>
			HTML: <span class="input-xlarge uneditable-input"> &#60;img src="http://www.woolsplusplus.appspot.com{{ img }}"&#62; </span><br>
        {% endfor %}
 		
 		<div class="row">
 	      <br>
 		  <p class="lead">Stats last updated {{ dates[0] }}.</p>
      </div>
      {% endif %}
    </div>

	{% include 'footer.html' %}

  </body>
</html>
