<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/allusers">Users</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <h3 class="muted">wools++ | {{player.name}}</h3>
      </div>
       <hr>

      <div class="jumbotron">
      	
		{% if stat_length < 1 %}
 		<div class="alert alert-info">Looks like {{ player.name }} just joined!  There's no data for you to see yet.  Just wait a few hours for 
 			wools++ to work its magic, and then you'll see some cool stuff here.  Check back later!
 		</div>
 		{% else %}		
        <p class="lead"> {{ player.name }}: Status Report</p>
        
        {% for img in img_urls %}
          <img src="{{ img }}"> 
<!--          <form>
			Direct Link: <input type="text" value="{{ img }}" readonly><br>
			HTML: <input type="text" value='<a href="http://www.woolsplusplus.appspot.com"><img src="{{ img }}"> </a>' readonly><br>
		</form>  -->
        {% endfor %}
   
 		<hr>
 		<div class="row">
 		<p class="lead">Most Recent Data</p>
 			<table class=" table table-hover table-bordered">
 			<thead>
			{% for stat in print_list %}
			<th> {{ stat }} </th>
			{% endfor %}
			</thead>
			{% for i in range(table_size) %}		
			<tr>
<!-- This is terrible programming practice, but it's mostly for debugging ATM -->				
				<td> {{ date_strings[table_size - 1 - loop.index0] }} </td>
				<td> {{ player.kills[table_size - 1 - loop.index0] }} </td>
				<td> {{ player.deaths[table_size - 1 - loop.index0] }} </td>
				<td> {{ '%.3f' % player.kd[table_size - 1- loop.index0] }} </td>
				<td> {{ '%.4f' % player.wd[table_size - 1 - loop.index0] }} </td>
				<td> {{ '%.4f' % player.cd[table_size - 1 - loop.index0] }} </td>
				<td> {{ '%.4f' % player.md[table_size - 1 - loop.index0] }} </td>
				<td> {{ '%.4f' % player.od[table_size - 1 - loop.index0] }} </td>
				<td> {{ '%.4f' % player.rkd7[table_size - 1 - loop.index0] }} </td>
			</tr>
			{% endfor %}
        </table>
        
        <br>
        <br>
 			<table class=" table table-hover table-bordered">	
			<tr>
<!-- This is terrible programming practice, but it's mostly for debugging ATM -->				
				<td> {{ player.dates | length }} </td>
				<td> {{ player.kills | length }} </td>
				<td> {{ player.deaths | length }} </td>
				<td> {{ player.wools | length }} </td>
				<td> {{ player.cores | length }} </td>
				<td> {{ player.monuments | length }} </td>
				<td> {{ player.objectives | length}} </td>
				<td> {{ player.kd | length }} </td>
				<td> {{ player.wd | length }} </td>
				<td> {{ player.cd | length }} </td>
				<td> {{ player.md | length }} </td>
				<td> {{ player.od | length}} </td>
				<td> {{ player.rk7 | length }} </td>
				<td> {{ player.rd7 | length }} </td>
				<td> {{ player.rw7 | length }} </td>
				<td> {{ player.rc7 | length }} </td>
				<td> {{ player.rm7 | length }} </td>
				<td> {{ player.ro7 | length}} </td>
				<td> {{ player.rkd7 | length }} </td>
				<td> {{ player.rwd7 | length }} </td>
				<td> {{ player.rcd7 | length }} </td>
				<td> {{ player.rmd7 | length }} </td>
				<td> {{ player.rod7 | length}} </td>
			</tr>
        </table>        
        
      </div>
      {% endif %}
    </div>

	{% include 'footer.html' %}

  </body>
</html>
