<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

      <div class="row-fluid marketing">
        <div class="span12">
          {% if render_form %}
          <h4>Link your account with one at oc.tc:</h4>
          <br>
          <fieldset>
          <form method="post">
          <input type="text" name="content" placeholder="Type a username">
          <br>
          <input class="btn btn-small btn-inverse" type="submit" value="Link Accounts">
    	  <br>
			{% if msg != '' and error == True %}
          <div class="alert alert-error">{{ msg }}</div>
          	{% elif msg != '' and error == False %}
          <div class="alert alert-info">{{ msg }} View your user profile <a href="{{ p_url }}"><strong>here!</strong></a></div>
          	{% endif %}
      	</form>
      	</fieldset>
      	{% else %}
      	<div class="alert alert-info">{{ msg }}</div>
      	{% endif%}
      	<br>
      	
          	
        </div>

      </div>

	{% include 'footer.html' %}

  </body>
</html>
